<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header section with navigation links -->
    <header>
        <h1><a href="{{ url_for('show_index') }}">insta485</a></h1>
        <nav>
            <ul>
                <!-- ADD IF STATEMENT LOGIN -->
                <li><a href="{{ url_for('explore') }}">explore</a></li>
                <li><a href="{{ url_for('show_user', user_url_slug=logname) }}">{{ logname }}</a></li>
            </ul>
        </nav>
    </header>
    <h3>Following</h3>
    <ul>
        {% for following in followings %}
        <li>
            <img src="{{ url_for('upload_file', filename=following.profilePic) }}" alt="Profile picture of {{ following.username }}" class="icon">
            <a href="{{ url_for('show_user', user_url_slug=following.username) }}">{{ following.username }}</a>
            {% if logname != following.username %}
                {% if following.lognameFollows %}
                    <p>following</p>
                     <!-- Unfollow form -->
                    <form action="{{ url_for('handle_follows') }}?target={{ request.path }}" method="post" enctype="multipart/form-data">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{ following.username }}"/>
                        <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                {% else %}
                    <p>not following</p>
                    <!-- Follow form -->
                    <form action="{{ url_for('handle_follows') }}?target={{ request.path }}" method="post" enctype="multipart/form-data">
                        <input type="submit" name="follow" value="follow"/>
                        <input type="hidden" name="username" value="{{ following.username }}"/>
                        <input type="hidden" name="operation" value="follow"/>
                    </form>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>